{% extends './base.html' %}
{% load static %}
{% block header %}
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}
{% block content %}

<div class="container mt-4">
  <div class="row">
    <div class="col-lg-8">
      <h1>Про нас</h1>
      <p>
        Аптека "Здоров'я" працює для вашого здоров'я вже понад 20 років. Ми надаємо широкий асортимент лікарських препаратів, медичних товарів та супутніх послуг.
      </p>
      <p>
        Наша команда складається з досвідчених фармацевтів та провізорів, які допоможуть вам підібрати правильні ліки та медичні товари. Ми також пропонуємо консультації спеціалістів у галузі здоров'я, які допоможуть вам зберегти здоров'я та запобігти захворюванням.
      </p>
      <p>
        Ми прагнемо надавати нашим клієнтам якісне обслуговування та забезпечувати їх доступність до необхідних лікарських препаратів та медичних товарів.
      </p>
      <img src="/media/view.jpg" alt="Аптека" class="img-fluid rounded" style="max-width: 500px;">
    </div>
  </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/bundle/4.5.2/js/bootstrap.bundle.min.js"></script>
{% endblock %}
