<!DOCTYPE html>
<html lang="en">
<head>
    {% csrf_token %}
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Аптека у Алєга</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block header %}
    {% endblock %}
    <title>Document</title>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>