{% extends './base.html' %}
{% load static %}
{% block header %}
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Ссылка на Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
{% endblock %}
{% block content %}
    <div class="container mt-5">
        <h1 class="text-center">Список лекарств</h1>
        <!-- Поиск по лекарствам -->
        <div class="row mt-4">
            <div class="col-md-6 offset-md-3">
                <form method="GET" action="{% url 'home' %}">
                    <div class="input-group">
                        <input type="text" name="q" class='form-control' placeholder="Поиск по названию лекарства">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Поиск</button>
                        </div>
                    </div>
                </form>
            </div>
            <a href="{% url 'home' %}" class="btn btn-primary">Показать все лекарства</a>
        </div>

        <div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="orderModalLabel">Оформление заказа</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="orderForm" method="post" action="{% url 'order_medicine' %}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Отправить заказ</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Карточки с лекарствами -->
        <div class="row mt-4">
            {% for medicine in medicines %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ medicine.image.url }}" class="card-img-top" alt="{{ medicine.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ medicine.name }}</h5>
                            <p class="card-text">{{ medicine.description }}</p>
                            <p class="card-text">Цена: {{ medicine.price }}</p>
                            <form action="{% url 'order_medicine' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="medicine_id" value="{{ medicine.id }}">
                                <button type="button" class="btn btn-success mt-2 orderBtn" data-toggle="modal" data-target="#orderModal" data-id="{{ medicine.id }}">
                                    Заказать
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('.orderBtn').click(function() {
                var medicineId = $(this).data('id');
                $('#orderModal input[name="medicine_id"]').val(medicineId);
            });
        });
    </script>
{% endblock %}
